Let's start with your project:

### **Problem**
**Our goal is to create a predictive model that can answer the following question:**

**What kind of people had a better chance of surviving?**

**Data about passengers:**
*   Name
*   Age
*   Gender.

## Install and Import Libraries
Let's install PySpark:

#### - The findspark library:  is a utility that helps Python find the Spark installation on your system. It's particularly useful when you're working in environments like Jupyter notebooks where the Spark environment might not be properly set up.

#### - By calling findspark.init(), you're ensuring that PySpark can be imported and used in your Python environment. After running these lines, you should be able to import and use PySpark without issues.

In [10]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [11]:
!apt-get update -qq
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz
!tar xf spark-3.1.2-bin-hadoop2.7.tgz
!pip install -q findspark

In [12]:
import findspark
findspark.init()

In [13]:
!pip install pyspark==3.2.1

Requirement already satisfied: pyspark==3.2.1 in /usr/local/lib/python3.10/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.10/dist-packages (from pyspark==3.2.1) (0.10.9.3)

## Build Spark Session

In [9]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

## Data Loading

You have two datasets:
* Train  
* Test.

Read two datasets:
* Train
* Test.

In [ ]:
train_df = spark.read.csv('train_spark1.csv', header=True, inferSchema=True)
test_df = spark.read.csv('test_spark1.csv', header=True, inferSchema=True)

Let's work with train dataset:

**Confirm if this is a dataframe or not:**

In [ ]:
print(type(train_df))
print(type(test_df))

<class 'pyspark.sql.dataframe.DataFrame'>
<class 'pyspark.sql.dataframe.DataFrame'>

**Show 5 rows.**

In [ ]:
print('Train DF')
train_df.show(5)
print()
print('Test DF')
test_df.show(5)

Train DF
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows


Test DF
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|  Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
|          1|       1|     1|Goldenberg, Mr. S...|  male|49.0|    1|    0|   17453|89.1042|  C92|       C|
|          2|       0|     3| Peduzzi, Mr. Joseph|  male|null|    0|    0|A/5 2817|   8.05| null|       S|
|          3|       1|     3|  Jalsevac, Mr. Ivan|  male|29.0|    0|    0|  349240| 7.8958| null|       C|
|          4|       0|     1|Millet, Mr. Franc...|  male|65.0|    0|    0|   13509|  26.55|  E38|       S|
|          5|       1|     1|Kenyon, Mrs. Fred...|female|null|    1|    0|   17464|51.8625|  D21|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
only showing top 5 rows

**Display schema for the dataset:**

In [ ]:
print('Train DF')
train_df.printSchema()
print('Test DF')
test_df.printSchema()

Train DF
root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

Test DF
root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

**Statistical summary:**

In [ ]:
train_df.summary().show()

+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|summary|      PassengerId|           Survived|            Pclass|                Name|   Sex|               Age|             SibSp|              Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|  count|              891|                891|               891|                 891|   891|               714|               891|                891|               891|              891|  204|     889|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642|                null|  null| 29.69911764705882|0.5230078563411896|0.38159371492704824|260318.54916792738| 32.2042079685746| null|    null|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|                null|  null|14.526497332334035|1.1027434322934315| 0.8060572211299488|471609.26868834975|49.69342859718089| null|    null|
|    min|                1|                  0|                 1|"Andersson, Mr. A...|female|              0.42|                 0|                  0|            110152|              0.0|  A10|       C|
|    25%|              223|                  0|                 2|                null|  null|              20.0|                 0|                  0|           19996.0|           7.8958| null|    null|
|    50%|              446|                  0|                 3|                null|  null|              28.0|                 0|                  0|          236171.0|          14.4542| null|    null|
|    75%|              669|                  1|                 3|                null|  null|              38.0|                 1|                  0|          347743.0|             31.0| null|    null|
|    max|              891|                  1|                 3|van Melkebeke, Mr...|  male|              80.0|                 8|                  6|         WE/P 5735|         512.3292|    T|       S|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+

## EDA - Exploratory Data Analysis

**Display count for the train dataset:**

In [ ]:
train_df.count()

891

**Can you answer this question:**

**How many people survived, and how many didn't survive?**

**Please save data in a variable.**

In [ ]:
from pyspark.sql.functions import col

In [ ]:
trainDF_Survived = train_df.where(col('Survived') == 1)

In [ ]:
trainDF_UNSurvived = train_df.where(col('Survived') == 0)

**Display your result:**

In [ ]:
trainDF_Survived.count()

342

In [ ]:
trainDF_UNSurvived.count()

549

**Can you display your answer in ratio form?(Hint: Use "UDF" Function. (Hint: Use "UDF" Function. This is a hint you can use any method.)**

In [ ]:
from pyspark.sql.types import FloatType

In [ ]:
df_cond_count = train_df.where(col('Survived') == 1).count()
df_all_count = train_df.count()

print('Survived ratio:', round(df_cond_count/df_all_count*100, 3), '%')

Survived ratio: 38.384 %

In [ ]:
df_cond_count = train_df.where(col('Survived') == 0).count()
df_all_count = train_df.count()

print('Unsurvived ratio:', round(df_cond_count/df_all_count*100, 3), '%')

Unsurvived ratio: 61.616 %

**Can you get the number of males and females?**

In [ ]:
print('Males count:', train_df.where(col('Sex') == 'male').count())

Males count: 577

In [ ]:
print('Females count:', train_df.where(col('Sex') == 'female').count())

Females count: 314

**1. What is the average number of survivors of each gender?**

**2. What is the number of survivors of each gender?**

(Hint: Group by the "sex" column. This is a hint you can use any method.)

In [ ]:
from pyspark.sql.functions import count, avg

In [ ]:
train_df.select('Sex')\
 .where(col('Survived') == 1)\
 .groupBy('Sex')\
 .count().show()

+------+-----+
|   Sex|count|
+------+-----+
|female|  233|
|  male|  109|
+------+-----+

In [ ]:
import pyspark.sql.functions as F

In [ ]:
train_df.groupBy("Sex", "Survived").agg(count('*').alias('count')).show()

+------+--------+-----+
|   Sex|Survived|count|
+------+--------+-----+
|  male|       0|  468|
|female|       1|  233|
|female|       0|   81|
|  male|       1|  109|
+------+--------+-----+

In [ ]:
from pyspark.sql.functions import expr

In [ ]:
df_temp = train_df.groupBy("Sex", "Survived").count()

df_temp.withColumn('Ratio', expr("count")/train_df.count()).show()

+------+--------+-----+-------------------+
|   Sex|Survived|count|              Ratio|
+------+--------+-----+-------------------+
|  male|       0|  468| 0.5252525252525253|
|female|       1|  233| 0.2615039281705948|
|female|       0|   81|0.09090909090909091|
|  male|       1|  109|  0.122334455667789|
+------+--------+-----+-------------------+

**Create temporary view PySpark:**

In [ ]:
train_df.createOrReplaceTempView("tbl_1")

**How many people survived, and how many didn't survive? By SQL:**

In [ ]:
spark.sql("""SELECT Survived, COUNT(*) AS count
          FROM tbl_1
          GROUP BY Survived""").show()

+--------+-----+
|Survived|count|
+--------+-----+
|       1|  342|
|       0|  549|
+--------+-----+

**Can you display the number of survivors from each gender as a ratio?**

(Hint: Group by "sex" column. This is a hint you can use any method.)

**Can you do this via SQL?**

In [ ]:
spark.sql("""SELECT Sex, COUNT(*) AS count
          FROM tbl_1
          WHERE Survived == 1
          GROUP BY Sex""").show()

+------+-----+
|   Sex|count|
+------+-----+
|female|  233|
|  male|  109|
+------+-----+

**Display a ratio for "p-class": SUM(Survived)/count for p-class**

In [ ]:
spark.sql("""SELECT Pclass, SUM(Survived)/COUNT(Pclass) AS Ratio
          FROM tbl_1
          GROUP BY Pclass""").show()

+------+-------------------+
|Pclass|              Ratio|
+------+-------------------+
|     1| 0.6296296296296297|
|     3|0.24236252545824846|
|     2|0.47282608695652173|
+------+-------------------+

**Let's take a break and continue after this.**

## Data Cleaning

**First and foremost, we must merge both the train and test datasets. (Hint: The union function can do this.)**

In [ ]:
mergedDF = train_df.union(test_df)

**Display count:**

In [ ]:
mergedDF.count()

1329

**Can you define the number of null values in each column?**

In [ ]:
from pyspark.sql.functions import col,isnan,when,count

In [ ]:
mergedDF.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in mergedDF.columns]).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|          0|       0|     0|   0|  0|265|    0|    0|     0|   0| 1021|       3|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+

**Create Dataframe for null values**

1. Column
2. Number of missing values.

In [ ]:
nullDF = mergedDF.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in mergedDF.columns])

In [ ]:
data = [(i, nullDF.select(F.collect_list(i)).first()[0][0]) for i in nullDF.columns]

In [ ]:
spark.createDataFrame(data,['Column', 'Value']).show()

+-----------+-----+
|     Column|Value|
+-----------+-----+
|PassengerId|    0|
|   Survived|    0|
|     Pclass|    0|
|       Name|    0|
|        Sex|    0|
|        Age|  265|
|      SibSp|    0|
|      Parch|    0|
|     Ticket|    0|
|       Fare|    0|
|      Cabin| 1021|
|   Embarked|    3|
+-----------+-----+

## Preprocessing

**Create Temporary view PySpark:**

In [ ]:
mergedDF.createOrReplaceTempView("tbl_2")

In [ ]:
combined = mergedDF

**Can you show the "name" column from your temporary table?**

In [ ]:
spark.sql("""SELECT Name
          FROM tbl_2""").show(10)

+--------------------+
|                Name|
+--------------------+
|Braund, Mr. Owen ...|
|Cumings, Mrs. Joh...|
|Heikkinen, Miss. ...|
|Futrelle, Mrs. Ja...|
|Allen, Mr. Willia...|
|    Moran, Mr. James|
|McCarthy, Mr. Tim...|
|Palsson, Master. ...|
|Johnson, Mrs. Osc...|
|Nasser, Mrs. Nich...|
+--------------------+
only showing top 10 rows

In [ ]:
combined.show(2)

+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|   Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0| PC 17599|71.2833|  C85|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+
only showing top 2 rows

**Run this code:**

In [ ]:
import pyspark.sql.functions as F
combined = combined.withColumn('Title',F.regexp_extract(F.col("Name"),"([A-Za-z]+)\.",1))
combined.createOrReplaceTempView('combined')

**Display "Title" column and count "Title" column:**

In [ ]:
spark.sql("""SELECT Title
          FROM combined""").show(10)

+------+
| Title|
+------+
|    Mr|
|   Mrs|
|  Miss|
|   Mrs|
|    Mr|
|    Mr|
|    Mr|
|Master|
|   Mrs|
|   Mrs|
+------+
only showing top 10 rows

In [ ]:
spark.sql("""SELECT COUNT(DISTINCT(Title)) AS D_Title
          FROM combined""").show()

+-------+
|D_Title|
+-------+
|     17|
+-------+

In [ ]:
titlesDF = spark.sql("""SELECT DISTINCT(Title) AS D_Title
          FROM combined""")
titlesDF.show()

+--------+
| D_Title|
+--------+
|     Don|
|    Miss|
|Countess|
|     Col|
|     Rev|
|    Lady|
|  Master|
|     Mme|
|    Capt|
|      Mr|
|      Dr|
|     Mrs|
|     Sir|
|Jonkheer|
|    Mlle|
|   Major|
|      Ms|
+--------+

**We can see that Dr, Rev, Major, Col, Mlle, Capt, Don, Jonkheer, Countess, Ms, Sir, Lady, and Mme are really rare titles, so create Dictionary and set the value to "rare".**

In [ ]:
rare_list = ["Dr", "Rev", "Major", "Col", "Mlle", "Capt", "Don", "Jonkheer", "Countess", "Ms", "Sir", "Lady", "Mme"]

In [ ]:
titles_list = titlesDF.select(F.collect_list('D_Title')).first()[0]

In [ ]:
titles_list

['Don',
 'Miss',
 'Countess',
 'Col',
 'Rev',
 'Lady',
 'Master',
 'Mme',
 'Capt',
 'Mr',
 'Dr',
 'Mrs',
 'Sir',
 'Jonkheer',
 'Mlle',
 'Major',
 'Ms']

In [ ]:
d_titles = {i: 'rare' if i in rare_list else i for i in titles_list}

In [ ]:
d_titles

{'Don': 'rare',
 'Miss': 'Miss',
 'Countess': 'rare',
 'Col': 'rare',
 'Rev': 'rare',
 'Lady': 'rare',
 'Master': 'Master',
 'Mme': 'rare',
 'Capt': 'rare',
 'Mr': 'Mr',
 'Dr': 'rare',
 'Mrs': 'Mrs',
 'Sir': 'rare',
 'Jonkheer': 'rare',
 'Mlle': 'rare',
 'Major': 'rare',
 'Ms': 'rare'}

**Run the function:**

In [ ]:
def impute_title(title):
    return titles_map[title]# Title_map is your dictionary. please change this name with your dictionary name.

**Apply the function on "Title" column using UDF:**

In [ ]:
from pyspark.sql.types import StringType
from pyspark.sql.functions import udf

In [ ]:
@udf(returnType=StringType())
def impute_title(title):
    return d_titles[title]

In [ ]:
combined = combined.withColumn("New_Title", impute_title(F.col("Title")))

In [ ]:
combined.show(30)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----------+--------+------+---------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|      Cabin|Embarked| Title|New_Title|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----------+--------+------+---------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|       null|       S|    Mr|       Mr|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|        C85|       C|   Mrs|      Mrs|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|       null|       S|  Miss|     Miss|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|       C123|       S|   Mrs|      Mrs|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|       null|       S|    Mr|       Mr|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583|       null|       Q|    Mr|       Mr|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|        E46|       S|    Mr|       Mr|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075|       null|       S|Master|   Master|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333|       null|       S|   Mrs|      Mrs|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708|       null|       C|   Mrs|      Mrs|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|         G6|       S|  Miss|     Miss|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55|       C103|       S|  Miss|     Miss|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05|       null|       S|    Mr|       Mr|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275|       null|       S|    Mr|       Mr|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542|       null|       S|  Miss|     Miss|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0|       null|       S|   Mrs|      Mrs|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125|       null|       Q|Master|   Master|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0|       null|       S|    Mr|       Mr|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0|       null|       S|   Mrs|      Mrs|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225|       null|       C|   Mrs|      Mrs|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|   26.0|       null|       S|    Mr|       Mr|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|   13.0|        D56|       S|    Mr|       Mr|
|         23|       1|     3|"McGowan, Miss. A...|female|15.0|    0|    0|          330923| 8.0292|       null|       Q|  Miss|     Miss|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|          113788|   35.5|         A6|       S|    Mr|       Mr|
|         25|       0|     3|Palsson, Miss. To...|female| 8.0|    3|    1|          349909| 21.075|       null|       S|  Miss|     Miss|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077|31.3875|       null|       S|   Mrs|      Mrs|
|         27|       0|     3|Emir, Mr. Farred ...|  male|null|    0|    0|            2631|  7.225|       null|       C|    Mr|       Mr|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|           19950|  263.0|C23 C25 C27|       S|    Mr|       Mr|
|         29|       1|     3|"O'Dwyer, Miss. E...|female|null|    0|    0|          330959| 7.8792|       null|       Q|  Miss|     Miss|
|         30|       0|     3| Todoroff, Mr. Lalio|  male|null|    0|    0|          349216| 7.8958|       null|       S|    Mr|       Mr|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----------+--------+------+---------+
only showing top 30 rows

**Display "Title" from table and group by "Title" column:**

In [ ]:
combined.select('New_Title').show(50)

+---------+
|New_Title|
+---------+
|       Mr|
|      Mrs|
|     Miss|
|      Mrs|
|       Mr|
|       Mr|
|       Mr|
|   Master|
|      Mrs|
|      Mrs|
|     Miss|
|     Miss|
|       Mr|
|       Mr|
|     Miss|
|      Mrs|
|   Master|
|       Mr|
|      Mrs|
|      Mrs|
|       Mr|
|       Mr|
|     Miss|
|       Mr|
|     Miss|
|      Mrs|
|       Mr|
|       Mr|
|     Miss|
|       Mr|
|     rare|
|      Mrs|
|     Miss|
|       Mr|
|       Mr|
|       Mr|
|       Mr|
|       Mr|
|     Miss|
|     Miss|
|      Mrs|
|      Mrs|
|       Mr|
|     Miss|
|     Miss|
|       Mr|
|       Mr|
|     Miss|
|       Mr|
|      Mrs|
+---------+
only showing top 50 rows

In [ ]:
combined.createOrReplaceTempView('combined')

In [ ]:
spark.sql("""SELECT New_Title, COUNT(New_Title)
          FROM combined
          GROUP BY New_Title""").show()

+---------+----------------+
|New_Title|count(New_Title)|
+---------+----------------+
|     rare|              44|
|     Miss|             257|
|   Master|              56|
|       Mr|             786|
|      Mrs|             186|
+---------+----------------+

## **Preprocessing Age**

**Based on the "age" column mean, you will fill in the missing age values:**

In [ ]:
from pyspark.sql.functions import mean as _mean

In [ ]:
mean_age = round(combined.select(_mean(col('Age'))).collect()[0][0],3)

**Fill missing with "age" mean:**

In [ ]:
combined = combined.na.fill(value=mean_age,subset=["Age"])

In [ ]:
combined.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in combined.columns]).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+-----+---------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|Title|New_Title|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+-----+---------+
|          0|       0|     0|   0|  0|  0|    0|    0|     0|   0| 1021|       3|    0|        0|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+-----+---------+

## **Preprocessing Embarked**

**Select "Embarked" column, count them, order by count Desc, and save in grouped_Embarked variable:**

In [ ]:
combined.select('Embarked', 'Name')\
 .groupBy('Embarked')\
 .count()\
 .orderBy('count',ascending=False)\
 .show(10,False)

+--------+-----+
|Embarked|count|
+--------+-----+
|S       |962  |
|C       |253  |
|Q       |111  |
|null    |3    |
+--------+-----+

In [ ]:
grouped_Embarked = combined.select('Embarked', 'Name')\
 .groupBy('Embarked')\
 .count()\
 .orderBy('count',ascending=False)

**Show "groupped_Embarked" your variable:**

In [ ]:
grouped_Embarked.show()

+--------+-----+
|Embarked|count|
+--------+-----+
|       S|  962|
|       C|  253|
|       Q|  111|
|    null|    3|
+--------+-----+

**Get max of groupped_Embarked:**

In [ ]:
max_count = grouped_Embarked.groupby().max('count').collect()[0][0]

In [ ]:
max_count

962

In [ ]:
max_embarked = grouped_Embarked.filter(expr("count") == max_count).select('Embarked').collect()[0][0]
max_embarked

'S'

**Fill missing values with max 'S' of grouped_Embarked:**

In [ ]:
combined = combined.na.fill(value=max_embarked,subset=["Embarked"])

## **Preprocessing Cabin**

**Replace "cabin" column with first char from the string:**

In [ ]:
@udf(returnType=StringType())
def replace_char(value):
    if value != None:
        return value[0]

In [ ]:
combined = combined.withColumn("cabin", replace_char(F.col("cabin")))

**Show the result:**

In [ ]:
combined.show()

+-----------+--------+------+--------------------+------+-----+-----+-----+----------------+-------+-----+--------+------+---------+
|PassengerId|Survived|Pclass|                Name|   Sex|  Age|SibSp|Parch|          Ticket|   Fare|cabin|Embarked| Title|New_Title|
+-----------+--------+------+--------------------+------+-----+-----+-----+----------------+-------+-----+--------+------+---------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22.0|    1|    0|       A/5 21171|   7.25|    M|       S|    Mr|       Mr|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38.0|    1|    0|        PC 17599|71.2833|    C|       C|   Mrs|      Mrs|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26.0|    0|    0|STON/O2. 3101282|  7.925|    M|       S|  Miss|     Miss|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35.0|    1|    0|          113803|   53.1|    C|       S|   Mrs|      Mrs|
|          5|       0|     3|Allen, Mr. Willia...|  male| 35.0|    0|    0|          373450|   8.05|    M|       S|    Mr|       Mr|
|          6|       0|     3|    Moran, Mr. James|  male|30.08|    0|    0|          330877| 8.4583|    M|       Q|    Mr|       Mr|
|          7|       0|     1|McCarthy, Mr. Tim...|  male| 54.0|    0|    0|           17463|51.8625|    E|       S|    Mr|       Mr|
|          8|       0|     3|Palsson, Master. ...|  male|  2.0|    3|    1|          349909| 21.075|    M|       S|Master|   Master|
|          9|       1|     3|Johnson, Mrs. Osc...|female| 27.0|    0|    2|          347742|11.1333|    M|       S|   Mrs|      Mrs|
|         10|       1|     2|Nasser, Mrs. Nich...|female| 14.0|    1|    0|          237736|30.0708|    M|       C|   Mrs|      Mrs|
|         11|       1|     3|Sandstrom, Miss. ...|female|  4.0|    1|    1|         PP 9549|   16.7|    G|       S|  Miss|     Miss|
|         12|       1|     1|Bonnell, Miss. El...|female| 58.0|    0|    0|          113783|  26.55|    C|       S|  Miss|     Miss|
|         13|       0|     3|Saundercock, Mr. ...|  male| 20.0|    0|    0|       A/5. 2151|   8.05|    M|       S|    Mr|       Mr|
|         14|       0|     3|Andersson, Mr. An...|  male| 39.0|    1|    5|          347082| 31.275|    M|       S|    Mr|       Mr|
|         15|       0|     3|Vestrom, Miss. Hu...|female| 14.0|    0|    0|          350406| 7.8542|    M|       S|  Miss|     Miss|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female| 55.0|    0|    0|          248706|   16.0|    M|       S|   Mrs|      Mrs|
|         17|       0|     3|Rice, Master. Eugene|  male|  2.0|    4|    1|          382652| 29.125|    M|       Q|Master|   Master|
|         18|       1|     2|Williams, Mr. Cha...|  male|30.08|    0|    0|          244373|   13.0|    M|       S|    Mr|       Mr|
|         19|       0|     3|Vander Planke, Mr...|female| 31.0|    1|    0|          345763|   18.0|    M|       S|   Mrs|      Mrs|
|         20|       1|     3|Masselmani, Mrs. ...|female|30.08|    0|    0|            2649|  7.225|    M|       C|   Mrs|      Mrs|
+-----------+--------+------+--------------------+------+-----+-----+-----+----------------+-------+-----+--------+------+---------+
only showing top 20 rows

**Create the temporary view:**

In [ ]:
combined.createOrReplaceTempView('combined')

**Select "Cabin" column, count "Cabin" column, Group by "Cabin" column, Order By count DESC**

In [ ]:
spark.sql("""SELECT cabin, COUNT(*) AS count
          FROM combined
          GROUP BY cabin
          ORDER BY count DESC""").show()

+-----+-----+
|cabin|count|
+-----+-----+
| null| 1021|
|    C|   82|
|    B|   77|
|    D|   52|
|    E|   51|
|    A|   23|
|    F|   18|
|    G|    4|
|    T|    1|
+-----+-----+

**Fill missing values with "M":**

In [ ]:
combined = combined.na.fill(value='M',subset=["cabin"])

In [ ]:
combined.show()

+-----------+--------+------+--------------------+------+-----+-----+-----+----------------+-------+-----+--------+------+---------+
|PassengerId|Survived|Pclass|                Name|   Sex|  Age|SibSp|Parch|          Ticket|   Fare|cabin|Embarked| Title|New_Title|
+-----------+--------+------+--------------------+------+-----+-----+-----+----------------+-------+-----+--------+------+---------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22.0|    1|    0|       A/5 21171|   7.25|    M|       S|    Mr|       Mr|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38.0|    1|    0|        PC 17599|71.2833|    C|       C|   Mrs|      Mrs|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26.0|    0|    0|STON/O2. 3101282|  7.925|    M|       S|  Miss|     Miss|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35.0|    1|    0|          113803|   53.1|    C|       S|   Mrs|      Mrs|
|          5|       0|     3|Allen, Mr. Willia...|  male| 35.0|    0|    0|          373450|   8.05|    M|       S|    Mr|       Mr|
|          6|       0|     3|    Moran, Mr. James|  male|30.08|    0|    0|          330877| 8.4583|    M|       Q|    Mr|       Mr|
|          7|       0|     1|McCarthy, Mr. Tim...|  male| 54.0|    0|    0|           17463|51.8625|    E|       S|    Mr|       Mr|
|          8|       0|     3|Palsson, Master. ...|  male|  2.0|    3|    1|          349909| 21.075|    M|       S|Master|   Master|
|          9|       1|     3|Johnson, Mrs. Osc...|female| 27.0|    0|    2|          347742|11.1333|    M|       S|   Mrs|      Mrs|
|         10|       1|     2|Nasser, Mrs. Nich...|female| 14.0|    1|    0|          237736|30.0708|    M|       C|   Mrs|      Mrs|
|         11|       1|     3|Sandstrom, Miss. ...|female|  4.0|    1|    1|         PP 9549|   16.7|    G|       S|  Miss|     Miss|
|         12|       1|     1|Bonnell, Miss. El...|female| 58.0|    0|    0|          113783|  26.55|    C|       S|  Miss|     Miss|
|         13|       0|     3|Saundercock, Mr. ...|  male| 20.0|    0|    0|       A/5. 2151|   8.05|    M|       S|    Mr|       Mr|
|         14|       0|     3|Andersson, Mr. An...|  male| 39.0|    1|    5|          347082| 31.275|    M|       S|    Mr|       Mr|
|         15|       0|     3|Vestrom, Miss. Hu...|female| 14.0|    0|    0|          350406| 7.8542|    M|       S|  Miss|     Miss|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female| 55.0|    0|    0|          248706|   16.0|    M|       S|   Mrs|      Mrs|
|         17|       0|     3|Rice, Master. Eugene|  male|  2.0|    4|    1|          382652| 29.125|    M|       Q|Master|   Master|
|         18|       1|     2|Williams, Mr. Cha...|  male|30.08|    0|    0|          244373|   13.0|    M|       S|    Mr|       Mr|
|         19|       0|     3|Vander Planke, Mr...|female| 31.0|    1|    0|          345763|   18.0|    M|       S|   Mrs|      Mrs|
|         20|       1|     3|Masselmani, Mrs. ...|female|30.08|    0|    0|            2649|  7.225|    M|       C|   Mrs|      Mrs|
+-----------+--------+------+--------------------+------+-----+-----+-----+----------------+-------+-----+--------+------+---------+
only showing top 20 rows

In [ ]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler

**StringIndexer: A label indexer that maps a string column of labels to an ML column of label indices. If the input column is numeric, we cast it to string and index the string values. The indices are in [0, numLabels). By default, this is ordered by label frequencies so the most frequent label gets index 0. The ordering behavior is controlled by setting stringOrderType. Its default value is ‘frequencyDesc’.**

**StringIndexer(inputCol=None, outputCol=None)**

In [ ]:
categoricalCols = [field for (field, dataType) in combined.dtypes
                   if ((dataType == "string") & (field!='Title'))]

indexOutputCols = [x + "_Index" for x in categoricalCols]

oheOutputCols = [x + "_OHE" for x in categoricalCols]

stringIndexer = StringIndexer(inputCols=categoricalCols,
                             outputCols=indexOutputCols,
                             handleInvalid='skip')

**OneHotEncoder(inputCols=None, outputCols=None)**

A one-hot encoder that maps a column of category indices to a column of binary vectors, with at most a single one-value per row that indicates the input category index. For example with 5 categories, an input value of 2.0 would map to an output vector of [0.0, 0.0, 1.0, 0.0]. The last category is not included by default (configurable via dropLast), because it makes the vector entries sum up to one, and hence linearly dependent. So an input value of 4.0 maps to [0.0, 0.0, 0.0, 0.0].

In [ ]:
oheEncoder = OneHotEncoder(inputCols=indexOutputCols,
                          outputCols=oheOutputCols)

**VectorAssembler: VectorAssembler(*, inputCols=None, outputCol=None). A feature transformer that merges multiple columns into a vector column.**

In [ ]:
numericCols = [field for (field,dataType) in combined.dtypes
              if ((dataType!='string') & (field!='Survived'))]

In [ ]:
assemblerInputs = oheOutputCols + numericCols

In [ ]:
vecAssembler = VectorAssembler(inputCols=assemblerInputs, outputCol='features')

**Use randomSplit function and split data to x_train, and X_test with 80% and 20% Consecutive**

In [ ]:
X_train, X_test = combined.randomSplit([0.8, 0.2], seed=42)

**Pipeline: ML Pipelines provide a uniform set of high-level APIs built on top of DataFrames that help users create and tune practical machine learning pipelines.**

**Build RandomForestClassifier model and use pipeline to fit and transform then display "prediction, Survived, features" columns**

In [ ]:
rfc = RandomForestClassifier(labelCol='Survived', featuresCol='features')

In [ ]:
pipeline = Pipeline(stages = [stringIndexer, oheEncoder, vecAssembler, rfc])

In [ ]:
pipelineModel = pipeline.fit(X_train)
predDF = pipelineModel.transform(X_test)

In [ ]:
predDF.show()

+-----------+--------+------+--------------------+------+-----+-----+-----+----------------+-------+-----+--------+------+---------+----------+---------+------------+-----------+--------------+---------------+-----------------+-------------+-----------------+-------------+-------------+-------------+--------------------+--------------------+--------------------+----------+
|PassengerId|Survived|Pclass|                Name|   Sex|  Age|SibSp|Parch|          Ticket|   Fare|cabin|Embarked| Title|New_Title|Name_Index|Sex_Index|Ticket_Index|cabin_Index|Embarked_Index|New_Title_Index|         Name_OHE|      Sex_OHE|       Ticket_OHE|    cabin_OHE| Embarked_OHE|New_Title_OHE|            features|       rawPrediction|         probability|prediction|
+-----------+--------+------+--------------------+------+-----+-----+-----+----------------+-------+-----+--------+------+---------+----------+---------+------------+-----------+--------------+---------------+-----------------+-------------+-----------------+-------------+-------------+-------------+--------------------+--------------------+--------------------+----------+
|        464|       0|     2|Milling, Mr. Jaco...|  male| 48.0|    0|    0|          234360|   13.0|    M|       S|    Mr|       Mr|     600.0|      0.0|       350.0|        0.0|           0.0|            0.0|(811,[600],[1.0])|(1,[0],[1.0])|(632,[350],[1.0])|(8,[0],[1.0])|(2,[0],[1.0])|(4,[0],[1.0])|(1464,[600,811,11...|[14.1228536023664...|[0.70614268011832...|       0.0|
|        474|       1|     2|Jerwan, Mrs. Amin...|female| 23.0|    0|    0| SC/AH Basle 541|13.7917|    D|       C|   Mrs|      Mrs|     533.0|      1.0|       602.0|        3.0|           1.0|            2.0|(811,[533],[1.0])|    (1,[],[])|(632,[602],[1.0])|(8,[3],[1.0])|(2,[1],[1.0])|(4,[2],[1.0])|(1464,[533,1414,1...|[9.63331618514523...|[0.48166580925726...|       1.0|
|        477|       0|     2|Renouf, Mr. Peter...|  male| 34.0|    1|    0|           31027|   21.0|    M|       S|    Mr|       Mr|     684.0|      0.0|        60.0|        0.0|           0.0|            0.0|(811,[684],[1.0])|(1,[0],[1.0])| (632,[60],[1.0])|(8,[0],[1.0])|(2,[0],[1.0])|(4,[0],[1.0])|(1464,[684,811,87...|[13.6268042613787...|[0.68134021306893...|       0.0|
|        480|       1|     3|Hirvonen, Miss. H...|female|  2.0|    0|    1|         3101298|12.2875|    M|       S|  Miss|     Miss|     515.0|      1.0|       413.0|        0.0|           0.0|            1.0|(811,[515],[1.0])|    (1,[],[])|(632,[413],[1.0])|(8,[0],[1.0])|(2,[0],[1.0])|(4,[1],[1.0])|(1464,[515,1225,1...|[11.2909298546383...|[0.56454649273191...|       0.0|
|        485|       1|     1|Bishop, Mr. Dicki...|  male| 25.0|    1|    0|           11967|91.0792|    B|       C|    Mr|       Mr|     366.0|      0.0|       333.0|        2.0|           1.0|            0.0|(811,[366],[1.0])|(1,[0],[1.0])|(632,[333],[1.0])|(8,[2],[1.0])|(2,[1],[1.0])|(4,[0],[1.0])|(1464,[366,811,11...|[11.1229348440351...|[0.55614674220175...|       0.0|
|        490|       1|     3|"Coutts, Master. ...|  male|  9.0|    1|    1|      C.A. 37671|   15.9|    M|       S|Master|   Master|     288.0|      0.0|       572.0|        0.0|           0.0|            3.0|(811,[288],[1.0])|(1,[0],[1.0])|(632,[572],[1.0])|(8,[0],[1.0])|(2,[0],[1.0])|(4,[3],[1.0])|(1464,[288,811,13...|[12.0686217909753...|[0.60343108954876...|       0.0|
|        497|       1|     1|Eustis, Miss. Eli...|female| 54.0|    1|    0|           36947|78.2667|    D|       C|  Miss|     Miss|     444.0|      1.0|        66.0|        3.0|           1.0|            1.0|(811,[444],[1.0])|    (1,[],[])| (632,[66],[1.0])|(8,[3],[1.0])|(2,[1],[1.0])|(4,[1],[1.0])|(1464,[444,878,14...|[7.97429507920554...|[0.39871475396027...|       1.0|
|        504|       0|     3|Laitinen, Miss. K...|female| 37.0|    0|    0|            4135| 9.5875|    M|       S|  Miss|     Miss|     556.0|      1.0|       529.0|        0.0|           0.0|            1.0|(811,[556],[1.0])|    (1,[],[])|(632,[529],[1.0])|(8,[0],[1.0])|(2,[0],[1.0])|(4,[1],[1.0])|(1464,[556,1341,1...|[11.5684129349383...|[0.57842064674691...|       0.0|
|        505|       1|     1|Maioni, Miss. Rob...|female| 16.0|    0|    0|          110152|   86.5|    B|       S|  Miss|     Miss|     582.0|      1.0|        17.0|        2.0|           0.0|            1.0|(811,[582],[1.0])|    (1,[],[])| (632,[17],[1.0])|(8,[2],[1.0])|(2,[0],[1.0])|(4,[1],[1.0])|(1464,[582,829,14...|[9.71814717929636...|[0.48590735896481...|       1.0|
|        507|       1|     2|Quick, Mrs. Frede...|female| 33.0|    0|    2|           26360|   26.0|    M|       S|   Mrs|      Mrs|     679.0|      1.0|        53.0|        0.0|           0.0|            2.0|(811,[679],[1.0])|    (1,[],[])| (632,[53],[1.0])|(8,[0],[1.0])|(2,[0],[1.0])|(4,[2],[1.0])|(1464,[679,865,14...|[9.65729516161736...|[0.48286475808086...|       1.0|
|        512|       0|     3|   Webber, Mr. James|  male|30.08|    0|    0|SOTON/OQ 3101316|   8.05|    M|       S|    Mr|       Mr|     786.0|      0.0|       613.0|        0.0|           0.0|            0.0|(811,[786],[1.0])|(1,[0],[1.0])|(632,[613],[1.0])|(8,[0],[1.0])|(2,[0],[1.0])|(4,[0],[1.0])|(1464,[786,811,14...|[14.9500262466133...|[0.74750131233066...|       0.0|
|        515|       0|     3|   Coleff, Mr. Satio|  male| 24.0|    0|    0|          349209| 7.4958|    M|       S|    Mr|       Mr|     407.0|      0.0|       475.0|        0.0|           0.0|            0.0|(811,[407],[1.0])|(1,[0],[1.0])|(632,[475],[1.0])|(8,[0],[1.0])|(2,[0],[1.0])|(4,[0],[1.0])|(1464,[407,811,12...|[14.9500262466133...|[0.74750131233066...|       0.0|
|        518|       0|     3|   Ryan, Mr. Patrick|  male|30.08|    0|    0|          371110|  24.15|    M|       Q|    Mr|       Mr|     702.0|      0.0|        28.0|        0.0|           2.0|            0.0|(811,[702],[1.0])|(1,[0],[1.0])| (632,[28],[1.0])|(8,[0],[1.0])|    (2,[],[])|(4,[0],[1.0])|(1464,[702,811,84...|[14.1646268228626...|[0.70823134114313...|       0.0|
|        519|       1|     2|"Angle, Mrs. Will...|female| 36.0|    1|    0|          226875|   26.0|    M|       S|   Mrs|      Mrs|     283.0|      1.0|       344.0|        0.0|           0.0|            2.0|(811,[283],[1.0])|    (1,[],[])|(632,[344],[1.0])|(8,[0],[1.0])|(2,[0],[1.0])|(4,[2],[1.0])|(1464,[283,1156,1...|[10.6823900733911...|[0.53411950366956...|       0.0|
|        537|       0|     1|Butt, Major. Arch...|  male| 45.0|    0|    0|          113050|  26.55|    B|       S| Major|     rare|     385.0|      0.0|       311.0|        2.0|           0.0|            4.0|(811,[385],[1.0])|(1,[0],[1.0])|(632,[311],[1.0])|(8,[2],[1.0])|(2,[0],[1.0])|    (4,[],[])|(1464,[385,811,11...|[11.0202624201448...|[0.55101312100724...|       0.0|
|        549|       0|     3|Goldsmith, Mr. Fr...|  male| 33.0|    1|    1|          363291| 20.525|    M|       S|    Mr|       Mr|     474.0|      0.0|        63.0|        0.0|           0.0|            0.0|(811,[474],[1.0])|(1,[0],[1.0])| (632,[63],[1.0])|(8,[0],[1.0])|(2,[0],[1.0])|(4,[0],[1.0])|(1464,[474,811,87...|[14.4539769056256...|[0.72269884528128...|       0.0|
|        555|       1|     3|  Ohman, Miss. Velin|female| 22.0|    0|    0|          347085|  7.775|    M|       S|  Miss|     Miss|     643.0|      1.0|       464.0|        0.0|           0.0|            1.0|(811,[643],[1.0])|    (1,[],[])|(632,[464],[1.0])|(8,[0],[1.0])|(2,[0],[1.0])|(4,[1],[1.0])|(1464,[643,1276,1...|[11.5684129349383...|[0.57842064674691...|       0.0|
|        558|       0|     1| Robbins, Mr. Victor|  male|30.08|    0|    0|        PC 17757|227.525|    M|       C|    Mr|       Mr|     693.0|      0.0|        14.0|        0.0|           1.0|            0.0|(811,[693],[1.0])|(1,[0],[1.0])| (632,[14],[1.0])|(8,[0],[1.0])|(2,[1],[1.0])|(4,[0],[1.0])|(1464,[693,811,82...|[11.6542854966259...|[0.58271427483129...|       0.0|
|        572|       1|     1|Appleton, Mrs. Ed...|female| 53.0|    2|    0|           11769|51.4792|    C|       S|   Mrs|      Mrs|     336.0|      1.0|       330.0|        1.0|           0.0|            2.0|(811,[336],[1.0])|    (1,[],[])|(632,[330],[1.0])|(8,[1],[1.0])|(2,[0],[1.0])|(4,[2],[1.0])|(1464,[336,1142,1...|[9.43359345675733...|[0.47167967283786...|       1.0|
|        577|       1|     2|Garside, Miss. Ethel|female| 34.0|    0|    0|          243880|   13.0|    M|       S|  Miss|     Miss|     463.0|      1.0|       360.0|        0.0|           0.0|            1.0|(811,[463],[1.0])|    (1,[],[])|(632,[360],[1.0])|(8,[0],[1.0])|(2,[0],[1.0])|(4,[1],[1.0])|(1464,[463,1172,1...|[10.5409860399366...|[0.52704930199683...|       0.0|
+-----------+--------+------+--------------------+------+-----+-----+-----+----------------+-------+-----+--------+------+---------+----------+---------+------------+-----------+--------------+---------------+-----------------+-------------+-----------------+-------------+-------------+-------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

**Use MulticlassClassificationEvaluator and set the "labelCol" to "Survived",  "predictionCol" to "prediction", "metricName" to "accuracy"**

In [ ]:
Evaluator = MulticlassClassificationEvaluator(predictionCol='prediction',
                                         labelCol='Survived',
                                         metricName='accuracy')

acc = Evaluator.evaluate(predDF)
print(f"Accuracy is {acc:.3f}")

Accuracy is 0.755